<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div align="left" class="container my-2">

    <h1>Student List</h1>
    <a th:href="@{/addStudentForm}" class="btn btn-primary btn-sm mb-3">Add Student</a>
    <table border="1" class="table table-striped table table-responsive-md">
        <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Stream/Specialization</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student:${listStudents}">
            <td th:text="${student.fName}"></td>
            <td th:text="${student.sName}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.stream}"></td>
            <td><a th:href="@{/updateStudentForm/{id}(id=${student.id})}" class="btn btn-primary">Update</a></td>
            <td><a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>